DashboardSteamlit/.venv/*
.env
DogsVsCats/dogs_vs_cats
DogsVsCats/test
DogsVsCats/train
PySpark/MovieRatings/ratings.csv
DashboardSteamlit/MoviesRecommendationApp/data/movies.csv
plugin.drawio
.gitignore
Chess/ChessPiecesDetectionbyDavidCaleb/chess-pieces-detection-images-dataset
CNN/FaceVerification/images/caleb*
CNN/HaarVsMTCNNFaceDetector/photo/*