<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Connectivity Checker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Site Connectivity Checker by David Caleb</h2>
        <form id="checkForm" action="{{ url_for('check') }}" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="url" id="urlInput" placeholder="Enter URL: " required="required">
            </div>
            <button type="submit" class="btn btn-primary" id="checkBtn">Check</button>
        </form>
    </div>
</body>
</html>